// imports

// variables

// -colors
$backgroundColor: #555f61;
$bgColorGrey: #a7afb2;

$shadowColorInset: #ffffff93;
$shadowColorOffset: #00000034;

$frameColorWhite: #ffffff;
$frameColorGreyBright: #dadedf;
$frameColorGreyDark: #373d3f;
$frameColorBlack: #131516;

$textColorMedium: #8c979a;
$textColorMediumDark: #6f7c80;

// -values
$borderRadius: 8px;

$maxWidth: 1200px;

// Background Elements
body {
  background-color: $backgroundColor;
  font-size: 1rem;
}

// Middleground Elements

.basicBox {
  box-sizing: border-box;
  background-color: $bgColorGrey;
  border: none;
  // border: 1px dotted $frameColorWhite;
  border-radius: $borderRadius;
  box-shadow: inset 0px 0px 16px $shadowColorInset,
    0px 16px 16px $shadowColorOffset;
  padding: 20px;
  margin: 20px;
  max-width: $maxWidth;
}

.basicFlex {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: $maxWidth;
}

.basicFlexItem {
  flex: 1;
}

.basicJustifyLeft {
  justify-content: flex-start;
}

.basicAlignCenter {
  align-items: center;
}

.basicGap {
  gap: 16px;
}

.basicJustifySelfFlexEnd {
  justify-content: flex-end;
}

.structureBox {
  width: 50%;
}

input {
  margin: 5px 0 0 0;
  background: none;
  border: 1px dotted $frameColorWhite;
  border-radius: 4px;
  color: #cecece;
  font-size: 1em;
  padding: 4px;
  box-sizing: border-box;
  // outline: none; /* remove the default focus outline or maybe not*/
  flex-wrap: wrap;
}
input:first-of-type {
  margin: 5px 5px 0 0;
}
input:focus {
  border-color: $frameColorGreyDark;
  outline: none;
}
input::placeholder {
  color: $textColorMediumDark;
}

// Texts: Noto, weight 200, 300, 400, 500

* {
  font-family: 'Noto Sans', sans-serif;
}

.subText {
  font-size: 0.75em;
}

.guestName {
  font-weight: 500;
}

h1 {
  font-weight: 500;
  color: $textColorMedium;
}

// Links & Hover
